@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.chat-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #282c34;
  }
  
  .chat-box .message {
    text-align: left; /* Align message to the right */
    margin: 5px 0;
    color: orange;
  }
  
  .chat-box .response {
    text-align: left; /* Align response to the left */
    margin: 5px 0;
    color: greenyellow;
  }

  .form-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
  }
  
  .input-field {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
  }
  
  .submit-button {
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }